*{
    padding: 0;
    margin: 0;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}

body{
    background-color: rgb(231, 229, 229);
    height: 100vh;
}

.title{
    text-align: center;
    margin-top: 2vh;
    font-size: 2rem;
}

.search{
    margin-top: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 10vh;
}

.city-input{
    height: 2rem;
    padding: 0.5rem;
    width: 10rem;
    border-radius: 0.5rem;
    margin-right: 5vw;
}

.btnSearch{
    cursor: pointer;
    background: none;
    border-radius: 1rem;
    min-height: 7vh;
    min-width: 3rem;
}

.week{
    text-align: center;
    color: rgb(0, 0, 0);
    margin-top: 5vh;
    font-size: 2rem;
}

.days{
    display: flex;
    justify-content: space-between;
    padding: 0.5rem;
}
.day{
    color: rgb(0, 0, 0);
    font-size: 1.3rem;
    margin-top: 2vh;
}

.tempMax{
    color: red;
}

.tempMin{
    color: blue;
}

.imageTemp{
    height: 3rem;
}
